<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hrzhulocal.crushthecraveprototype2" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true" >
        >
        <activity
            android:name=".MainActivityHome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider417315275141718"
            android:exported="true" />

        <activity
            android:name=".CraveActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_crave"
            android:parentActivityName=".MainActivityHome"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.MainActivityHome" />
        </activity>
        <activity
            android:name=".SmokeActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_smoke"
            android:parentActivityName=".MainActivityHome"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.MainActivityHome" />
        </activity>
        <activity
            android:name=".Graph.MainActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_smoke"
            android:parentActivityName=".MainActivityHome"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.MainActivityHome" />
        </activity>
        <activity
            android:name=".My_AwardsActivity"
            android:label="@string/title_activity_my__awards"
            android:parentActivityName=".MainActivityHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.MainActivityHome" />
        </activity>
        <activity
            android:name=".Quit_Help"
            android:label="@string/title_activity_quit__help"
            android:parentActivityName=".MainActivityHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.MainActivityHome" />
        </activity>
        <activity
            android:name=".More"
            android:label="@string/title_activity_more"
            android:parentActivityName=".MainActivityHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.MainActivityHome" />
        </activity>
        <activity
            android:name=".w12"
            android:label="@string/title_activity_w12" >
        </activity>
        <activity
            android:name=".w23"
            android:label="@string/title_activity_w23" >
        </activity>
        <activity
            android:name=".HealthCalculator"
            android:label="@string/title_activity_health_calculator"
            android:parentActivityName=".Graph.My_ProgressActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Graph.My_ProgressActivity" />
        </activity>
        <activity
            android:name=".Slt"
            android:label="@string/title_activity_slt"
            android:parentActivityName=".CraveActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.CraveActivity" />
        </activity>
        <activity
            android:name=".ScreenLoaderActivity"
            android:label="@string/title_activity_screen_loader"
            android:parentActivityName=".CraveActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.CraveActivity" />
        </activity>
        <activity
            android:name=".MoleGame"
            android:label="@string/title_activity_mole_game"
            android:parentActivityName=".CraveActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.CraveActivity" />
        </activity>
        <activity
            android:name=".Mole"
            android:label="@string/title_activity_mole"
            android:parentActivityName=".CraveActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.CraveActivity" />
        </activity>
        <activity
            android:name=".Menu"
            android:label="@string/title_activity_menu"
            android:parentActivityName=".CraveActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.CraveActivity" />
        </activity>
        <activity
            android:name=".Hole"
            android:label="@string/title_activity_hole"
            android:parentActivityName=".CraveActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.CraveActivity" />
        </activity>
        <activity
            android:name=".Help"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait"
            android:parentActivityName=".CraveActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.CraveActivity" />
        </activity>
        <activity
            android:name=".GraphicsMole"
            android:label="@string/title_activity_graphics_mole"
            android:parentActivityName=".CraveActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.CraveActivity" />
        </activity>
        <activity
            android:name=".GameOver"
            android:label="@string/title_activity_game_over"
            android:parentActivityName=".CraveActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.CraveActivity" />
        </activity>
        <activity
            android:name=".Credits"
            android:label="@string/title_activity_credits"
            android:parentActivityName=".CraveActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.CraveActivity" />
        </activity>
        <activity
            android:name=".SmokingTriggers"
            android:label="@string/title_activity_smoking_triggers"
            android:parentActivityName=".SmokeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.SmokeActivity" />
        </activity>
        <activity
            android:name=".WhoWeAre"
            android:label="@string/title_activity_who_we_are"
            android:parentActivityName=".More" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.More" />
        </activity>
        <activity
            android:name=".HowToUse"
            android:label="@string/title_activity_how_to_use"
            android:screenOrientation="portrait"
            android:parentActivityName=".More" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.More" />
        </activity>
        <activity
            android:name=".MySettings"
            android:label="@string/title_activity_my_settings"
            android:parentActivityName=".More"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.More" />
        </activity>
        <activity
            android:name=".QuitLine"
            android:label="@string/title_activity_quit_line"
            android:parentActivityName=".Quit_Help" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.Quit_Help" />
        </activity>
        <activity
            android:name=".QuitAids"
            android:label="@string/title_activity_quit_aids"
            android:parentActivityName=".Quit_Help" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.Quit_Help" />
        </activity>
        <activity
            android:name=".CraveCrushers"
            android:label="@string/title_activity_crave_crushers"
            android:parentActivityName=".Quit_Help" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.Quit_Help" />
        </activity>
        <activity
            android:name=".MyQuitPlan"
            android:label="@string/title_activity_my_quit_plan"
            android:parentActivityName=".Quit_Help" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.Quit_Help" />
        </activity>
        <activity
            android:name=".SetDate"
            android:label="@string/title_activity_set_date"
            android:parentActivityName=".MySettings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.MySettings" />
        </activity>
        <activity
            android:name=".ResetSmokingStatus"
            android:label="@string/title_activity_reset_smoking_status"
            android:parentActivityName=".MySettings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.MySettings" />
        </activity>
        <activity
            android:name=".Feedback"
            android:label="@string/title_activity_feedback"
            android:parentActivityName=".More" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.More" />
        </activity>
        <activity
            android:name=".MyInformation"
            android:label="@string/title_activity_my_information"
            android:parentActivityName=".MySettings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.MySettings" />
        </activity>
        <activity
            android:name=".DistractMe"
            android:label="@string/title_activity_distract_me"
            android:parentActivityName=".CraveActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.CraveActivity" />
        </activity>
        <activity
            android:name=".MyPersonalization"
            android:label="@string/title_activity_my_personalization"
            android:parentActivityName=".More" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.More" />
        </activity>
        <activity
            android:name=".addOtherSp4"
            android:label="@string/title_activity_add_other_sp4"
            android:parentActivityName=".SmokeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.SmokeActivity" />
        </activity>
        <activity
            android:name=".addOtherSp5"
            android:label="@string/title_activity_add_other_sp5"
            android:parentActivityName=".SmokeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.SmokeActivity" />
        </activity>
        <activity
            android:name=".addOtherSp6"
            android:label="@string/title_activity_add_other_sp6"
            android:parentActivityName=".SmokeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.SmokeActivity" />
        </activity>
        <activity
            android:name=".Committed"
            android:label="@string/title_activity_committed"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$AwardQuitDate"
            android:label="@string/title_activity_award_quit_date"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$AwardDay1"
            android:label="@string/title_activity_award_day1"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$AwardWeek1"
            android:label="@string/title_activity_award_week1"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$AwardWeek3"
            android:label="@string/title_activity_award_week3"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$AwardMonth1"
            android:label="@string/title_activity_award_month1"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$Award100Cig"
            android:label="@string/title_activity_award100_cig"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$Award250Cig"
            android:label="@string/title_activity_award250_cig"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$Award500Cig"
            android:label="@string/title_activity_award500_cig"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$AwardSmokingTracker"
            android:label="@string/title_activity_award_smoking_tracker"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$AwardCravingTracker"
            android:label="@string/title_activity_award_craving_tracker"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$Award100Saved"
            android:label="@string/title_activity_award100_saved"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Award250Saved"
            android:label="@string/title_activity_award250_saved"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$Award500Saved"
            android:label="@string/title_activity_award500_saved"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$Award1000Saved"
            android:label="@string/title_activity_award1000_saved"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$AwardBreatheEasier"
            android:label="@string/title_activity_award_breathe_easier"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$AwardBreatheEasier2"
            android:label="@string/title_activity_award_breathe_easier2"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$AwardO2"
            android:label="@string/title_activity_award_o2"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$AwardBetterHealth"
            android:label="@string/title_activity_award_better_health"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$AwardNicotineFree"
            android:label="@string/title_activity_award_nicotine_free"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$AwardBetterTasteAndSmell"
            android:label="@string/title_activity_award_better_taste_and_smell"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$AwardHappyHeart"
            android:label="@string/title_activity_award_happy_heart"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$AwardHappyHeart2"
            android:label="@string/title_activity_award_happy_heart2"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$AwardFriends"
            android:label="@string/title_activity_award_friends"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$AwardSharing"
            android:label="@string/title_activity_award_sharing"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$AwardFeedback"
            android:label="@string/title_activity_award_feedback"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Committed$AwardNightOut"
            android:label="@string/title_activity_award_night_out"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".GraphFragmentOne"
            android:label="@string/title_activity_graph_fragment_one" >
        </activity>
        <activity
            android:name=".InnerGraphOne"
            android:label="@string/title_activity_inner_graph_one" >
        </activity>
        <activity
            android:name=".FaceBookShare"
            android:label="@string/title_activity_face_book_share"
            android:parentActivityName=".Committed$Award100Cig" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Committed$Award100Cig" />
        </activity>
        <activity
            android:name=".SetDesktopImage"
            android:label="@string/title_activity_set_desktop_image"
            android:parentActivityName=".More" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.More" />
        </activity>
        <activity
            android:name=".SocialMediaOptions"
            android:label="@string/title_activity_social_media_options"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>
        <activity
            android:name=".Games.TicTacToe"
            android:configChanges="orientation"
            android:label="@string/title_activity_tic_tac_toe"
            android:parentActivityName=".DistractMe"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.DistractMe" />
        </activity>
        <activity
            android:name=".Committed$AwardCommitted"
            android:parentActivityName=".My_AwardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.My_AwardsActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="66faf7aa5a82165dc6604bdb6aae1e7ae6daabeb" />
        <activity
            android:name=".Graph.My_ProgressActivity$My_ProgressActivity3"
            android:label="@string/title_activity_my__progress_activity3"
            android:parentActivityName=".MainActivityHome" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hrzhulocal.crushthecraveprototype2.MainActivityHome" />
        </activity>

        <activity
            android:name=".TwitterShare"
            />

    </application>

</manifest>